In [155]:
import pandas as pd
import numpy as np

## Data Reduction Process:

In [156]:
df = pd.read_csv("min_colon.csv")
df.head(10)

,x67699,r70790,l11706,t90549,d17390,m33210,h18490,h40891,r77780,t49647,class
0,99.11072,67.56125,259.91250,138.89874,88.23250,39.66786,67.82875,75.67750,83.52250,28.70125,Tumor
1,126.78929,92.23875,96.27625,150.59000,82.23750,85.03333,152.19500,186.56750,44.47250,16.77375,Normal
2,151.87738,82.71500,31.10250,193.92000,76.97250,224.62024,31.22500,42.65625,16.09250,15.15625,Tumor
3,152.59525,41.68375,5.92500,183.00626,74.52875,67.71072,48.33875,42.52000,49.98250,16.08500,Normal
4,126.46429,76.60375,161.35000,61.70125,54.56375,223.35953,73.09875,57.59875,7.48875,31.81250,Tumor
5,122.53333,47.53500,147.23625,28.31000,33.19500,91.85000,5.87875,36.29750,9.81500,21.88375,Normal
6,147.80476,51.03250,80.19000,76.48500,98.53750,54.62143,30.54000,52.96125,37.23625,24.44500,Tumor
7,116.19405,46.67375,172.78876,51.82375,97.85500,98.98214,24.19625,29.76625,44.37625,52.29000,Normal
8,111.13810,42.14625,277.85376,176.10374,149.15625,209.91190,99.91500,122.44125,40.39125,26.84750,Tumor
9,401.77023,141.37250,215.88750,71.03750,93.52125,136.04048,43.23000,67.15000,65.61000,44.04250,Normal

In [157]:
# transposing the dataframe and droping the 'class'
data = df.transpose().drop(['class'])

In [158]:
# change the name of the column as 'Assay01, Assay02, Assay03....'
col = data.columns
colNames = list()
for i in range(1,len(col)+1):
    colNames.append('Assay{}'.format(i))
# changing the column names
data.columns = colNames
# exporting the transposed dataset
data.to_csv('data.csv')

### Calculating the Relative Gene Expression Levels:
- Arbitrary pick a reference assay and calculate the relative expression levels based on the reference assay.
- Assuming the absolute gene expression levels of the reference assay is: ***`Er1, Er2, Er3,...,Erm`***
- Calculate the relative gene expression levels for another assay ***`A`*** as: ***`Ra1, Ra2, Ra3, Ra4,....,Ran = Er1/Ea1, Er2/Ea2,...Erm/Ean`***
- Calculate for all the rests.

In [159]:
new_data = pd.read_csv("transposed_data.csv")
new_data.head()

,Gene,Assay1,Assay2,Assay3,Assay4,Assay5,Assay6,Assay7,Assay8,Assay9,...,Assay53,Assay54,Assay55,Assay56,Assay57,Assay58,Assay59,Assay60,Assay61,Assay62
0,x67699,99.11072,126.78929,151.87738,152.59525,126.46429,122.53333,147.80476,116.19405,111.13810,...,109.18690,255.73929,145.28929,152.85000,270.93570,70.667854,129.40475,254.86548,190.71190,178.94643
1,r70790,67.56125,92.23875,82.71500,41.68375,76.60375,47.53500,51.03250,46.67375,42.14625,...,32.20375,87.15750,94.32875,88.99625,28.98000,6.447500,35.87875,119.96250,85.25875,63.63500
2,l11706,259.91250,96.27625,31.10250,5.92500,161.35000,147.23625,80.19000,172.78876,277.85376,...,601.84750,315.31250,197.69376,203.76000,530.16876,156.445000,342.65000,111.60375,206.53625,437.65250
3,t90549,138.89874,150.59000,193.92000,183.00626,61.70125,28.31000,76.48500,51.82375,176.10374,...,117.00375,183.17250,111.53875,114.48875,264.92000,93.950000,84.75125,166.75500,80.44875,178.27250
4,d17390,88.23250,82.23750,76.97250,74.52875,54.56375,33.19500,98.53750,97.85500,149.15625,...,62.32000,121.87875,129.14874,113.52250,79.34125,86.908750,60.27375,130.45500,104.80500,153.84875

In [160]:
# selecting 'Assay62' as the reference assay
refAssay = new_data['Assay62']
refAssay

0    178.94643
1     63.63500
2    437.65250
3    178.27250
4    153.84875
5    269.43690
6     67.86250
7     77.21500
8     49.86250
9     39.63125
Name: Assay62, dtype: float64

In [161]:
# dividing entire dataset by the reference Assay, column wise
new_data = new_data.loc[:].div(refAssay)
new_data

,0,1,2,3,4,5,6,7,8,9,...,Assay58,Assay59,Assay6,Assay60,Assay61,Assay62,Assay7,Assay8,Assay9,Gene
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN